@media screen and (max-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        margin: 0px;
        padding: 20px;
    }

    nav {
        margin-top: 20px;
        margin-left: 10px;
        flex-direction: column;
    }

    .nav-menu ul {
        display: none;
    }

    .nav-menu i {
        display: inline;
        position: relative;
        left: 312px;
        top: -50px;
    }


    /* banner-section */

    .banner {
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13.png);
        background-repeat: no-repeat;
        height: 480px;
        flex-shrink: 0;
        margin: 0px;
        width: 100%;
        margin-top: 20px;
    }

    .banner-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .banner-text h3 {
        color: #FFF;
        font-family: Mulish;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .banner-text>p {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        padding: 0px;
        padding-top: 5px;
        margin-bottom: -5px;
        /* 162.5% */
    }

    .banner-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        width: 210px;
        /* padding: 15px; */
        margin-left: 57px;
    }

    .banner-form input {
        border-radius: 8px;
        width: 156px;
        height: 45px;
        flex-shrink: 0;
        margin: 0px;
        border: none;
        margin-bottom: 5px;
    }

    .banner-form select {
        border-radius: 8px;
        border: none;
        width: 174px;
        height: 45px;
        flex-shrink: 0;
        margin: 0px;
        margin-bottom: 5px;
    }

    .banner button {
        width: 174px;
        height: 45px;
        border-radius: 8px;
        background: #FF5400;
        border: none;
        color: white;
    }

    /* banner-section */
    /* tour-section */

    .popular-tour {
        display: flex;
        margin-top: 0px;
        flex-direction: column;
    }

    .popular-tour-text {
        margin: 0px;
        width: 335px;
        padding: 38px 2px 28px 2px;

    }

    .popular-tour img {
        max-width: 320px;
        height: 342px;
        margin: 0px auto;
        padding: 0px 0px 0px 13px;
    }

    .popular-tour-text h2 {
        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .popular-tour-text p,
    ul {
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 10px;
        /* 171.429% */
    }

    .popular-tour ul {
        padding-left: 30px;
    }

    /* tour-section */

    /* photo-gallary section */
    .gallary {
        margin: 10px;
        padding: 0px;
    }

    .photo-gallary-text {
        display: block;
        margin: 0px auto;
        text-align: center;
        margin-bottom: 30px;
    }

    .photo-gallary-text h3 {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .photo-gallary-text p {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
        padding: 0px;
    }

    .gallary img {
        width: 335px;
        height: 176px;
    }

    .gallary {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .row-1,
    .row-2,
    .row-3 {
        display: flex;
        flex-direction: column;
    }

    .row-1,
    .row-2 {
        margin-bottom: 0px;
    }


    /* photo-gallary section */

    /* reason-section */
    .card-1,
    .card-2,
    .card-3 {
        width: 335px;
        height: 289px;
        flex-shrink: 0;
        padding: 30px 0px 0px 30px;
        margin-left: -49px;
        padding-right: 20px;
    }

    .card-1 {
        margin-top: 0px;
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
    }

    .card-2 {
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
    }

    .card-3 {
        display: block;
        /* margin: 0px auto; */
        margin-top: 30px;
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
    }

    .card-row {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .reason h2 {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 20px;
        margin-top: 70px;
        margin-left: -30px;
    }

    .reason h3 {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;

    }

    .reason h6 {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 300px;
        margin-left: 0px;
        /* 171.429% */
    }

    .reason p {
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
    }

    .reason-text {
        display: inline-block;
        margin-left: -346px;
        width: 309px;
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
    }

    /* reason-section */

    /* video-section */

    .video-container {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-left: -10px;

    }

    .video-text h3 {
        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 30px;
        width: 300px;
    }

    .video-text p {
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 300px;
        /* 171.429% */
    }

    .video-text ul {
        color: #131318;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 171.429% */
        width: 300px;

    }

    .video iframe {

        border-radius: 20px;
        margin-right: 40px;
        width: 370px;
        height: 200px;
        flex-shrink: 0;
        margin: 0px auto;
    }

    .video-text button {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    /* video-section */

    /* package-section */

    .hire-us-container>h3 {
        margin-top: 80px;
        color: #131318;
        font-family: Mulish;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 60px;
        text-align: center;
        margin-bottom: 60px;
        /* 150% */
    }

    .package-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;

        /* align-items: center; */
    }

    .package-container h2,
    h4 {
        color: #131318;
        font-family: Mulish;
        font-size: 50px;
        font-style: normal;
        font-weight: 800;
        line-height: 60px;
        padding: 10px 0px;
        /* 150% */
    }

    .package-container p {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 162.5% */
    }

    .package-1 {
        text-align: center;
        padding: 20px;
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background: rgba(8, 199, 252, 0.276);
    }

    .package-2 {
        text-align: center;
        padding: 20px;
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background: rgba(8, 252, 199, 0.465);
    }

    .package-3 {
        text-align: center;
        padding: 20px;
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background: rgba(252, 8, 240, 0.276);
    }

    /* package-section */

    /* form-section */

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin-top: 80px;
        margin-left: -10px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }

    .form-container {
        width: 280px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid #FF5400;
        padding: 40px;
    }

    .form-container h3 {
        color: #131318;
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 10px;
    }

    .form-container p {
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 162.5% */
        margin-bottom: 7px;
    }

    form input {
        width: 250px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);
        border: none;
        padding-left: 40px;
        margin-bottom: 20px;
    }

    form button {
        border-radius: 8px;
        background: #FF5400;
        width: 280px;
        height: 52px;
        flex-shrink: 0;
        border: none;
        color: #FFF;

        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .discount-container {
        background-image: url(Images/Rectangle\ 8\ \(1\).png);
        background-repeat: no-repeat;
        width: 350px;
        height: 300px;
        border-radius: 20px;
    }

    .discount {
        padding: 10px 20px;
        transform: rotate(-19.628deg);
        flex-shrink: 0;
        border-radius: 16px;
        background: #FF5400;
        width: 150px;
        position: relative;
        top: 193px;
        left: 156px;
    }

    .discount p {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 15.854px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .discount h4 {
        color: #FFF;
        font-family: Mulish;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    /* form-section */

    /* footer-section */

    footer,
    .footer-title,
    .icons {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        gap: 5px;
    }

    footer {
        background: rgba(19, 19, 24, 0.05);
        height: 400px;
        width: 500px;
        margin: 0px -130px;
        margin-top: 80px;
        margin-bottom: -50px;
    }

    .footer-title {
        margin-left: 79px;
        align-items: center;
        justify-content: center;
    }

    .footer-title h3 {
        color: #131318;
        font-family: Mulish;
        font-size: 21.543px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;

    }

    .footer-container>p {
        color: #5A5A5D;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
        width: 287px;
        padding-left: 100px;
        margin-top: 10px;
    }

    .icons i {
        height: 20px;
        width: 30px;
        margin-bottom: 30px;
    }

    .icons {
        margin-left: 126px;
    }

    .footer-container {
        margin-top: 70px;
    }

    .footer-container h6 {
        margin-top: 50px;
        color: #131318;
        font-family: Inter;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-left: 126px;

    }

    .footer-container hr {
        margin-left: 126px;
        margin-bottom: 0px;
    }

    /* footer-section */

}