* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px 130px;
    max-width: 1600px;
}

.btn-primary {
    width: 174px;
    height: 45px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: white;
}

.orange{
    color: #FF5400;
}

nav {
    display: flex;
    justify-content: space-between;
    /* margin: 20px 130px; */
}


.nav-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hamburger {
    display: none;
}

.nav-title img {
    width: 48px;
    height: 50px;
}

.nav-title h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-menu {
    margin-top: 20px;
    display: flex;
}

.nav-menu ul {
    display: flex;
    list-style: none;
}

.nav-menu i {
    display: none;
}

.others {
    text-decoration: none;
    padding-right: 40px;

    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home {
    text-decoration: none;
    padding-right: 40px;
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* banner-section */

.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13.png);
    background-repeat: no-repeat;
    height: 500px;
    flex-shrink: 0;
    margin: 0px 25px;
    width: 1197px;
    margin-top: 20px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.banner-text h3 {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-text>p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 150px;
    /* 162.5% */
}

.banner-form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 30px 200px;
    padding: 15px;
}

.banner-form input {
    border-radius: 8px;
    width: 174px;
    height: 45px;
    flex-shrink: 0;
    margin-right: 22px;
    border: none;
    padding-left: 20px;
}

.banner-form select {
    border-radius: 8px;
    border: none;
    width: 174px;
    height: 45px;
    flex-shrink: 0;
    margin-right: 22px;
    padding-left: 20px;
}

.banner button {
    width: 174px;
    height: 45px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: white;
}

/* banner-section */

/* tour-section */

.popular-tour {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.popular-tour-text {
    padding-right: 200px;
    padding-top: 20px;
    padding-left: 30px;
}

.popular-tour img {
    height: 500px;
    padding-right: 50px;
}

.popular-tour-text h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.popular-tour-text p,
ul {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
    /* 162.5% */
}

.popular-tour ul {
    padding-left: 30px;
}

/* tour-section */

/* photo-gallary section */
.gallary {
    margin: 30px;
}

.photo-gallary-text {
    display: block;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 30px;
}

.photo-gallary-text h3 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.photo-gallary-text p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 400px;
    /* 162.5% */
}

.galary img {
    width: 100%;
    height: 100%;
}

.row-1 {
    display: grid;
    grid-template-columns: 1fr 0fr;
    margin-bottom: 30px;
}

.row-2 {
    display: grid;
    grid-template-columns: 411px 523px 400px;
    margin-bottom: 30px;
}

.row-3 {
    display: grid;
    grid-template-columns: 530px 672px;
}


/* photo-gallary section */


/* reason-section */
.reason {
    padding-left: 30px;
}

.card-1,
.card-2,
.card-3 {
    width: 545px;
    height: 220px;
    flex-shrink: 0;
    padding: 30px 0px 0px 40px;
}

.card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-3 {
    display: block;
    margin: 0px auto;
    margin-top: 30px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.card-row {
    display: flex;
    gap: 30px;
}

.reason h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 70px;
}

.reason h6{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
    width: 600px;
    margin-left: 300px;

    /* 162.5% */
}

.reason h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.reason p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

/* reason-section */

/* video-section */

.video-container {
    margin-top: 70px;
    display: flex;
    gap: 0px;
}

.video-text {
    padding-left: 30px;
    padding-right: 180px;
}

.video-text h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 10px;
    /* 150% */
}

.video-text p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 15px;
}

.video-text ul {
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 5px;
    /* 162.5% */
}

.video iframe {
    border-radius: 20px;
    margin-right: 40px;
}

.video-text button {
    margin-top: 20px;
}

/* video-section */

/* package-section */

.hire-us-container>h3 {
    margin-top: 80px;
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
    margin-bottom: 60px;
    /* 150% */
}

.package-container {
    display: flex;
    gap: 30px;
    justify-content: center;

    /* align-items: center; */
}

.package-container h2,
h4 {
    color: #131318;
    font-family: Mulish;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    padding: 10px 0px;
    /* 150% */
}

.package-container p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.package-1 {
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(8, 199, 252, 0.276);
}

.package-2 {
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(8, 252, 199, 0.465);
}

.package-3 {
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(252, 8, 240, 0.276);
}

.package-1:hover, .package-2:hover, .package-3:hover{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
/* package-section */


/* form-section */

.form {
    display: flex;
    gap: 30px;
    margin-top: 80px;
    margin-left: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-container {
    width: 474px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.form-container h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}

.form-container p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 7px;
}

form input {
    width: 437px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding-left: 40px;
    margin-bottom: 20px;
}

form button {
    border-radius: 8px;
    background: #FF5400;
    width: 476px;
    height: 52px;
    flex-shrink: 0;
    border: none;
    color: #FFF;

    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.discount-container {
    background-image: url(Images/Rectangle\ 8\ \(1\).png);
    background-repeat: no-repeat;
    width: 650px;
    border-radius: 20px;
}

.discount {
    padding: 30px 40px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    width: 250px;
    position: relative;
    top: 175px;
    left: 309px;
}

.discount p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.discount h4 {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* form-section */

/* footer-section */

footer,
.footer-title,
.icons {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 5px;
}

footer {
    background: rgba(19, 19, 24, 0.05);
    height: 450px;
    max-width: 1600px;
    margin: 0px -130px;
    margin-top: 80px;
}

.footer-title h3 {
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-container>p {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
    margin-top: 60px;

    /* 162.5% */
}

.icons i {
    height: 20px;
    width: 30px;
    margin-bottom: 30px;
    color: black;
}

.footer-container {
    margin-top: 70px;
}

.footer-container h6 {
    margin-top: 50px;
    color: #131318;
    font-family: Inter;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* footer-section */